:root {
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #ffc93a;
    --blue: #0070f3;
    --purple: #743ad5;
    --blueHover: #0066db;
    --backgroundRed: #f44336;
    --backgroundRedHover: #f32a1b;
    --boxShadowBlack: #44444444;
}

@font-face {
    font-family: "Regular";
    src: url(/regular.woff2) format("woff2");
    font-display: 500;
    font-display: swap;
}

@font-face {
	font-family: "Bold";
	src: url("/bold.woff2") format("woff2");
    font-weight: 700;
	font-display: swap;
}


body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.firstSlide {
    position: relative;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--white);
}

.topBar {
    position: absolute;
    top: 6px;
    right: 5px;
}

@media screen and (max-width: 480px) {
    .topBar { left: unset; }
}

.firstSlide .slideContent,
.secondSlide .slideContent {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    margin: 0 auto;
}

.actualLine {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.firstSlide .slideContent .flashLine.firstFlashLine {
    font-size: 4rem;
}


@media screen and (max-width: 480px) {
    .firstSlide .slideContent .flashLine.firstFlashLine {
        font-size: 3rem;
    }
    
}

.firstSlide .slideContent .flashLine{
    font-size: 3rem;
    padding-bottom: 4rem;
    align-items: center;
}

.secondSlide .slideContent .flashLine {
    font-size: 3rem;
    padding-bottom: 2rem;
    align-items: center;

}

.firstSlide .slideContent .smallFlashLine,
.secondSlide .slideContent .smallFlashLine {
    font-size: 2rem;
}

.firstSlide .slideContent .descriptorFlashLine,
.secondSlide .slideContent .descriptorFlashLine {
    font-size: 2rem;
}

@media screen and (min-width: 1200px) {
    .firstSlide .slideContent .smallFlashLine,
    .secondSlide .slideContent .smallFlashLine {
        font-size: 3rem;
    }
    
}


.black {
    color: var(--black);
}

.blue {
    color: var(--blue);
}

.blueBG {
    background-color: var(--blue);
}

.purpleBG {
    background-color: var(--purple);
}

.section {
    position: absolute;
    bottom: 0;
    margin-top: 3rem;
    min-height: 100px;
    width: 100%;
}

.blackToBlue {
    background: url(/blackToBlue.svg) no-repeat center center;
    background-size: cover;
}

.blueToWhite {
    background: url(/blueToWhite.svg) no-repeat center center;
    background-size: cover;
}

.whiteToBlue {
    background: url(/whiteToBlue.svg) no-repeat center center;
    background-size: cover;
}

.whiteToPurple {
    background: url(/whiteToPurple.svg) no-repeat center center;
    background-size: cover;
}

.purpleToBlack {
    background: url(/purpleToBlack.svg) no-repeat center center;
    background-size: cover;
}


@media screen and (max-width: 480px) {
    .paddingTop5RMo {
        padding-top: 3rem;
    }
    .firstSlide .slideContent .flashLine,
    .secondSlide .slideContent .flashLine {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .firstSlide .slideContent .smallFlashLine,
    .secondSlide .slideContent .smallFlashLine {
        font-size: 1.8rem;
    }
    
    .firstSlide .slideContent .descriptorFlashLine,
    .secondSlide .slideContent .descriptorFlashLine {
        font-size: 1.3rem;
    }
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.secondSlide {
    background-color: var(--white);
    min-height: 100vh;
    position: relative;
}

.flexCenterAll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sitesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentPhase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentPhase img {
    width: auto;
    border-radius: 9px;
    box-shadow: 4px 4px 13px 1px var(--boxShadowBlack);
}

.contentPhase .siteInfoContainer {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
}

.controlPhase {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.controlPhase button {
    padding: 0.5em 1.2em;
    border: 0;
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    .controlPhase {
        padding-top: 0.8rem;
    }
    .controlPhase button {
        font-size: 1.1rem;
    }
}

.controlPhase button:active {
    transform: translateY(3px);
    transition: transform 0.1s linear;
}

.prevButton {
    background-color: var(--backgroundRed);
}

.nextButton {
    background-color: var(--blue);
}

.prevButton:hover {
    background-color: var(--backgroundRedHover);
}

.nextButton:hover {
    background-color: var(--blueHover);
}

.pageSpeed, .pageType, .pageLocation {
    padding-bottom: 0.5rem;
}

.pageSpeed {
    font-size: 3rem;
}

.pageType {
    font-size: 2.2rem;
}

.pageLocation {
    text-decoration: none;
    color: var(--blue);
    font-size: 1.8rem;
}

@media screen and ( min-height: 1000px ) { 
    .contentPhase img {
        height: 350px;
    }
    .contentPhase {
        flex-direction: column;
    }
    .siteInfoContainer {
        padding-top: 0.5rem;
    }
    .pageSpeed, .pageType, .pageLocation {
        text-align: center;
    }
}

@media screen and ( min-height: 1100px ) { 
    .contentPhase img {
        height: 500px;
    }
}

@media screen and ( min-height: 1300px ) { 
    .contentPhase img {
        height: 600px;
    }
    .siteInfoContainer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .contentPhase img {
        height: 230px;
    }
    .contentPhase {
        flex-direction: column;
    }
    .siteInfoContainer {
        padding-top: 0.5rem;
    }
    .pageSpeed, .pageType, .pageLocation {
        text-align: center;
    }
    .pageSpeed {
        font-size: 1.4rem;
    }

    .pageType {
        font-size: 1.2rem;
    }

    .pageLocation {
        font-size: 1.1rem;
    }
    .contentPhase .siteInfoContainer {
        padding-left: unset;
    }
}

@media screen and (max-width: 300px) {
    .contentPhase img {
        height: 128px;
    }
}

.secondSlide.blueBG {
    background-color: var(--blue);
    color: var(--white);
}

.secondSlide.purpleBG {
    background-color: var(--purple);
    color: var(--white);
}

.secondSlide.blackBG {
    background-color: var(--black);
    color: var(--white);
}

.secondSlide.purpleBG .slideContent,
.secondSlide.blackBG .slideContent  {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.unorderedList {
    padding-left: 0;
}

.aboutLeft {
    padding-right: 3rem;
}

.aboutLeft img {
    border-radius: 14px;
}

@media screen and (max-width: 400px) {
    .secondSlide.purpleBG .slideContent,
    .secondSlide.blackBG .slideContent  {
        flex-direction: column;
    }
    .aboutLeft img {
        height: 120px;
        width: 120px;
    }
    .whyLeft {
        padding-right: unset;
    }
    .aboutLeft {
        padding-right: unset;
    }
    .center {
        text-align: center;
    }
}

.contactUsButton {
    background-color: var(--black);
    padding: 0.4em 1.2em;
    border: 0;
    border-radius: 9px;
    color: var(--white);
    margin-top: 2rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.contactUsButton:hover {
    background-color: rgba(0, 0, 0, 0.462);
}

.whyLeft {
    display: flex;
    flex-direction: column;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

@media screen and ( min-height: 1000px ) { 
    .secondSlide.blackBG .slideContent  {
        flex-direction: column;
    }
}