:root {
    --black: #000000;
    --lightBlack: #444444;
    --veryLightBlack: #6e6e73;
    --white: #FFFFFF;
    --yellow: #ffc93a;
    --blue: #0070f3;
    --gray: #f5f5f7;
    --purple: #743ad5;
    --purpleHover: #672cce;
    --blueHover: #0066db;
    --backgroundRed: #f44336;
    --backgroundRedHover: #f32a1b;
    --boxShadowBlack: #44444444;
}

@font-face {
    font-family: "Regular";
    src: url(/regular.woff2) format("woff2");
    font-display: 500;
    font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

button {
    font-family: "Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

span.extraSpace {
    height: 15vh;
}

.wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.firstSlide {
    position: relative;
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    color: var(--white);
}

@media screen and (max-width: 480px) {
    .topBar { left: unset; }
}

.introLine {
    display: inline;
    padding-bottom: 4rem;
}

.firstSlide .slideContent,
.secondSlide .slideContent {
    padding-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 70vw;
    margin: 0 auto;
}

.actualLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.firstSlide .slideContent .flashLine.firstFlashLine {
    font-size: 4rem;
}


@media screen and (max-width: 480px) {
    .firstSlide .slideContent .flashLine.firstFlashLine {
        font-size: 3rem;
    }
    
}

.firstSlide .slideContent .flashLine{
    font-size: 3rem;
    padding-bottom: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.secondSlide .slideContent .flashLine {
    font-size: 3rem;
    padding-bottom: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

.firstSlide .slideContent .smallFlashLine,
.secondSlide .slideContent .smallFlashLine {
    font-size: 2rem;
}

.firstSlide .slideContent .smallerFlashLine,
.secondSlide .slideContent .smallerFlashLine {
    font-size: 1.9rem;
}

.firstSlide .slideContent .descriptorFlashLine,
.secondSlide .slideContent .descriptorFlashLine {
    font-size: 1.8rem;
}

@media screen and (min-width: 1200px) {
    .firstSlide .slideContent .smallFlashLine,
    .secondSlide .slideContent .smallFlashLine {
        font-size: 3rem;
    }
    
    .firstSlide .slideContent .smallerFlashLine,
    .secondSlide .slideContent .smallerFlashLine {
        font-size: 2.5rem;
    }
    
}


.black {
    color: var(--black);
}

.blue {
    color: var(--blue);
}

.blueBG {
    background-color: var(--blue);
}

.purpleBG {
    background-color: var(--purple);
}

.section {
    position: absolute;
    bottom: 0;
    margin-top: 3rem;
    min-height: 100px;
    width: 100%;
}

.blackToBlue {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%23000'%3E%3C/rect%3E%3Cpath d='M0 185L166.7 156.3C333.3 127.7 666.7 70.3 1000 53C1333.3 35.7 1666.7 58.3 2000 78.5C2333.3 98.7 2666.7 116.3 3000 114.3C3333.3 112.3 3666.7 90.7 3833.3 79.8L4000 69L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%230070f3' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

.blueToWhite {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%230070f3'%3E%3C/rect%3E%3Cpath d='M0 4L166.7 8.2C333.3 12.3 666.7 20.7 1000 32.3C1333.3 44 1666.7 59 2000 85.2C2333.3 111.3 2666.7 148.7 3000 157.3C3333.3 166 3666.7 146 3833.3 136L4000 126L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%23fff' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

.whiteToBlue {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M0 25L166.7 29.3C333.3 33.7 666.7 42.3 1000 54.3C1333.3 66.3 1666.7 81.7 2000 104.8C2333.3 128 2666.7 159 3000 152.3C3333.3 145.7 3666.7 101.3 3833.3 79.2L4000 57L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%230070f3' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

.whiteToPurple {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M0 58L166.7 71C333.3 84 666.7 110 1000 126C1333.3 142 1666.7 148 2000 151.7C2333.3 155.3 2666.7 156.7 3000 161.2C3333.3 165.7 3666.7 173.3 3833.3 177.2L4000 181L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%23743ad5' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

.purpleToBlack {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%23743ad5'%3E%3C/rect%3E%3Cpath d='M0 45L166.7 69.7C333.3 94.3 666.7 143.7 1000 137.5C1333.3 131.3 1666.7 69.7 2000 37.8C2333.3 6 2666.7 4 3000 7.5C3333.3 11 3666.7 20 3833.3 24.5L4000 29L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%23000' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

.blackToWhite {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%23000'%3E%3C/rect%3E%3Cpath d='M0 70L166.7 84.7C333.3 99.3 666.7 128.7 1000 145.7C1333.3 162.7 1666.7 167.3 2000 142.3C2333.3 117.3 2666.7 62.7 3000 37.8C3333.3 13 3666.7 18 3833.3 20.5L4000 23L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%23fff' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    bottom: unset;
    top: 0;
    margin-top: unset;
}

.whiteToGray {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 4000 200' width='4000' height='200' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='4000' height='200' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M0 36L166.7 48.2C333.3 60.3 666.7 84.7 1000 109.2C1333.3 133.7 1666.7 158.3 2000 165.7C2333.3 173 2666.7 163 3000 164.5C3333.3 166 3666.7 179 3833.3 185.5L4000 192L4000 201L3833.3 201C3666.7 201 3333.3 201 3000 201C2666.7 201 2333.3 201 2000 201C1666.7 201 1333.3 201 1000 201C666.7 201 333.3 201 166.7 201L0 201Z' fill='%23f5f5f7' stroke-linecap='round' stroke-linejoin='miter'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .paddingTop5RMo {
        padding-top: 3rem;
    }
    .firstSlide .slideContent .flashLine,
    .secondSlide .slideContent .flashLine {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .firstSlide .slideContent .smallFlashLine,
    .secondSlide .slideContent .smallFlashLine {
        font-size: 1.8rem;
    }
    
    .firstSlide .slideContent .smallerFlashLine,
    .secondSlide .slideContent .smallerFlashLine {
        font-size: 1.8rem;
    }
    
    .firstSlide .slideContent .descriptorFlashLine,
    .secondSlide .slideContent .descriptorFlashLine {
        font-size: 1.3rem;
    }
}

.flexCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.secondSlide {
    background-color: var(--white);
    min-height: 100vh;
    position: relative;
}

.flexCenterAll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.sitesContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.contentPhase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.contentPhase img {
    width: auto;
    border-radius: 9px;
    -webkit-box-shadow: 4px 4px 13px 1px var(--boxShadowBlack);
            box-shadow: 4px 4px 13px 1px var(--boxShadowBlack);
}

.contentPhase .siteInfoContainer {
    padding-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.8rem;
}

.controlPhase {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2rem;
}

.controlPhase button {
    padding: 0.5em 1.2em;
    border: 0;
    border-radius: 8px;
    font-size: 1.5rem;
    color: var(--white);
    margin-right: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    .controlPhase {
        padding-top: 0.8rem;
    }
    .controlPhase button {
        font-size: 1.1rem;
    }
}

.controlPhase button:active {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: -webkit-transform 0.1s linear;
    -o-transition: transform 0.1s linear;
    transition: transform 0.1s linear;
    transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.prevButton {
    background-color: var(--purple);
}

.nextButton {
    background-color: var(--blue);
}

.prevButton:hover {
    background-color: var(--purpleHover);
}

.nextButton:hover {
    background-color: var(--blueHover);
}

.pageSpeed, .pageType, .pageLocation {
    padding-bottom: 0.5rem;
}

.pageSpeed {
    font-size: 3rem;
}

.pageType {
    font-size: 2.2rem;
}

.pageLocation {
    text-decoration: none;
    color: var(--blue);
    font-size: 1.8rem;
}

@media screen and ( min-height: 1000px ) { 
    .contentPhase img {
        height: 350px;
    }
    .contentPhase {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .siteInfoContainer {
        padding-top: 0.5rem;
    }
    .pageSpeed, .pageType, .pageLocation {
        text-align: center;
    }
}

@media screen and ( min-height: 1100px ) { 
    .contentPhase img {
        height: 500px;
    }
}

@media screen and ( min-height: 1300px ) { 
    .contentPhase img {
        height: 600px;
    }
    .siteInfoContainer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .contentPhase img {
        height: 230px;
    }
    .contentPhase {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .siteInfoContainer {
        padding-top: 0.5rem;
    }
    .pageSpeed, .pageType, .pageLocation {
        text-align: center;
    }
    .pageSpeed {
        font-size: 1.4rem;
    }

    .pageType {
        font-size: 1.2rem;
    }

    .pageLocation {
        font-size: 1.1rem;
    }
    .contentPhase .siteInfoContainer {
        padding-left: unset;
    }
}

@media screen and (max-width: 300px) {
    .contentPhase img {
        height: 128px;
    }
}

.secondSlide.blueBG {
    background-color: var(--blue);
    color: var(--white);
}

.secondSlide.purpleBG {
    background-color: var(--purple);
    color: var(--white);
}

.secondSlide.blackBG {
    background-color: var(--black);
    color: var(--white);
}

.secondSlide.grayBG {
    background-color: var(--gray);
    color: var(--veryLightBlack);
    min-height: unset;
}

.secondSlide.purpleBG .slideContent,
.secondSlide.blackBG .slideContent  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.unorderedList {
    padding-left: 0;
    margin: 0;
}

.aboutLeft {
    padding-right: 3rem;
}

.aboutLeft img {
    border-radius: 14px;
}

@media screen and (max-width: 480px) {
    .secondSlide.purpleBG .slideContent,
    .secondSlide.blackBG .slideContent  {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .aboutLeft img {
        height: 120px;
        width: 120px;
    }
    .whyLeft {
        padding-right: unset;
    }
    .aboutLeft {
        padding-right: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .center {
        text-align: center;
    }
}

.contactUsButton {
    background-color: var(--black);
    padding: 0.4em 1.2em;
    border: 0;
    border-radius: 9px;
    color: var(--white);
    margin-top: 2rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.contactUsButton:hover {
    background-color: rgba(0, 0, 0, 0.462);
}

.whyLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

@media screen and ( min-height: 1000px ) { 
    .secondSlide.blackBG .slideContent  {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.contactLogos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 480px) {
    .contactLogos img {
        height: 60px;
        width: 60px;
    }
}

.asterisk {
    padding-left: 0;
    font-size: 0.75rem;
}

.rightsReserved {
    text-align: center;
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (width: 540px), (width: 720px) {
    .contentPhase {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contentPhase img {
        height: auto;
        width: 500px;
    }
    .aboutLeft img {
        height: 170px;
        width: 170px;
    }
    .contactSlide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    span.extraSpace {
        height: 20vh;
    }
}

@media (width: 320px) {
    span.extraSpace {
        height: 20vh;
    }
}

.materialStatus {
    position: fixed;
    bottom: -50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    border: 0;
    border-radius: 5px;
    background-color: #323232;
    color: white;
    left: 2rem;
    animation: closeMaterialStatus 0.2s linear 1 reverse forwards;
}

@media screen and (max-width: 480px) {
    .materialStatus {
        width: 85vw;
        left: 50%;
        -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
                transform: translate(-50%);
    }
}

@-webkit-keyframes closeMaterialStatus {
    0% {
        bottom: 30px;
    }
    25% {
        bottom: 15px;
    }
    50% {
        bottom: 0px;
    }
    75% {
        bottom: -30px;
    }
    100% {
        bottom: -50px;
    }
}

@keyframes closeMaterialStatus {
    0% {
        bottom: 30px;
    }
    25% {
        bottom: 15px;
    }
    50% {
        bottom: 0px;
    }
    75% {
        bottom: -30px;
    }
    100% {
        bottom: -50px;
    }
}